<html>
    <head>
        <title>Jesus GP blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Jesus GP blog</a></h1>
        </div>
        
        <div>
            <p>publicado: 16.01.2024, 14:28</p>
            <h2><a href="">Mi primer post</a></h2>
            <p>Este es el contenido del primer post</p>
        </div>
        <div>
            <p>publicado: 16.01.2024, 14:35</p>
            <h2><a href="">Mi segundo post</a></h2>
            <p>Este es el contenido del segundo post</p>
        </div>
    </body>
</html>